<section class="s2">
		<div class='main-container'>
			<h3 style="text-align: center;">Contato</h3>

			<form id="contact-form">
				<label>Nome</label>
				<input class="input-field" type="text" name="name">

				<label>Assunto</label>
				<input class="input-field" type="text" name="subject">

				<label>Email</label>
				<input class="input-field" type="text" name="email">

				<label>Mensagem</label>
				<textarea class="input-field" type="text" name="message"></textarea>

				<input id="submit-btn" type="submit" value="Enviar">
			</form>
		</div>
</section>