<!DOCTYPE html>
<html>
<head>
	<title>Vitor Gabriel</title>

	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

	 <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet"> 

	 <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet"> 

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/default.css') }}">
	<link id="theme-style" rel="stylesheet" type="text/css" href="">

</head>
<body>

	<section class="s1">
		<div class='main-container'>
			<div class="greeting-wrapper">
				<h1>Hi, I'm Vitor Gabriel</h1>
			</div>

			<div class="intro-wrapper">
				<div class="nav-wrapper">
					<div class="dots-wrapper">
						<div id="dot-1"class="browser-dot"></div>
						<div id="dot-2"class="browser-dot"></div>
						<div id="dot-3"class="browser-dot"></div>
					</div>

					<ul id="navigation">
						<li><a href="#about-me">Sobre</a></li>
						<li><a href="#posts">Projetos</a></li>
						<li><a href="mailto:contact@vitorgabriel.com.br">Contato</a></li>
					</ul>

				</div>
				
				<div class="left-column">
					<img id='profile-pic'src="{{ url_for('static', filename= 'images/profile_pic.jpg') }}">
					<h5 style="text-align: center; line-height: 0;">Personalize o Tema</h5>

					<div id="theme-options-wrapper">
						<div data-mode="light" id="light-mode" class="theme-dot"></div>
						<div data-mode="blue" id="blue-mode" class="theme-dot"></div>
						<div data-mode="green" id="green-mode" class="theme-dot"></div>
						<div data-mode="purple" id="purple-mode" class="theme-dot"></div>
					</div>

					<p id="settings-note">
						*A sua opção de tema será salva <br> 
						para sua próxima visita
					</p>
				</div>

				<div class="right-column">

					<div id="preview-shadow">
						<div id="preview">
							<div id="corner-tl" class="corner"></div>
							<div id="corner-tr" class="corner"></div>
							<h3>Quem sou eu?</h3>
							<div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
							<p>
								Programador, Pesquisador e Economista.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="s2">
		<div class='main-container'>
			<div class="about-wrapper">
				<div class="about-me" id="about-me">
					<h4>Sobre mim</h4>

					<p>
						No meu último ano da faculdade de Economia, encontrei a programação e me apaixonei à primeira vista.
					</p>
					<p>
						Gosto muito de desenvolver soluções do ínicio ao fim, aprender, resolver bugs e criar código limpo e simples.
					</p>
				
					<hr>

					<h4>TOP EXPERTISE</h4>

					<div id="skills">
						<ul>
							<li>Python</li>
							<li>Travis CI</li>
							<li>Selenium</li>
							<li>TDD</li>
						</ul>

						<ul>
							<li>HTML/CSS</li>
							<li>Django</li>
							<li>Flask</li>
							<li>Heroku</li>
						</ul>
					</div>

				</div>
				<div class="social-links">
					<div class="img-wrapper">
						<div class="img-col">
							<img src="{{ url_for('static', filename= 'images/github.png') }}">
						</div>
					</div>
					<a target="_blank" href="https://github.com/VitorGGs/VitorGGs">@VitorGGs</a>
				</div>
				
			</div>
		</div>
	</section>

	<section class="s1">
		<div class='main-container' id="posts">
			<h3 style="text-align: center;">Alguns dos meus projetos</h3>
		
			<div class="post-wrapper">

				<div>
					<div class="post">
						<img class="thumbnail" src="{{ url_for('static', filename= 'images/microblog.png') }}">
						<div class="post-preview">
							<h6 class="post-title">Flask Microblog</h6>
							<p class="post-intro">A microblog build with Flask and deployed on heroku</p>
							<a href="https://github.com/VitorGGs/flask-microblog" target="_blank">Read More</a>
						</div>
					</div>
				</div>

				<div>
					<div class="post">
						<img class="thumbnail" src="{{ url_for('static', filename= 'images/flask.jpg') }}">
						<div class="post-preview">
							<h6 class="post-title">REST TODO API</h6>
							<p class="post-intro">a simple version of a TODO app as a REST API</p>
							<a target="_blank" href="https://github.com/VitorGGs/rest-todo-app">Read More</a>
						</div>
					</div>
				</div>

				<div>
					<div class="post">
						<img class="thumbnail" src="{{ url_for('static', filename= 'images/birds.png') }}">
						<div class="post-preview">
							<h6 class="post-title">Python Birds</h6>
							<p class="post-intro">Implemented a simple version of Angry Birds game</p>
							<a target="_blank" href="https://github.com/VitorGGs/pythonbirds">Read More</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	

	<script type="text/javascript">
		const theme = localStorage.getItem('theme')

		if (theme == null) {
		  setTheme('light')
		} else {
		  setTheme(theme)
		}

		const themeDots = document.getElementsByClassName('theme-dot')

		for (var i = 0; themeDots.length > i; i++) {
		  themeDots[i].addEventListener('click', function () {
		    const mode = this.dataset.mode
		    console.log('option clicked: ', mode)
		    setTheme(mode)
		  })
		}

		function setTheme (mode) {
		  if (mode == 'light') {
		    document.getElementById('theme-style').href = "{{ url_for('static', filename= 'css/default.css') }}"
		  }

		  if (mode == 'blue') {
		    document.getElementById('theme-style').href = "{{ url_for('static', filename= 'css/blue.css') }}"
		  }

		  if (mode == 'green') {
		    document.getElementById('theme-style').href = "{{ url_for('static', filename= 'css/green.css') }}"
		  }

		  if (mode == 'purple') {
		    document.getElementById('theme-style').href = "{{ url_for('static', filename= 'css/purple.css') }}"
		  }

		  localStorage.setItem('theme', mode)
		}

	</script>

</body>
</html>